:root {
    --text-light: #0d110f;
    --background-light: #fcfdfc;
    --primary-light: #3d5151;
    --secondary-light: #c5ccd3;
    --accent-light: #586674;
    --text-dark: #fcfdfc;
    --background-dark: #0d110f;
    --primary-dark: #3d5151;
    --secondary-dark: #020303;
    --accent-dark: #a8b3bd;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya", sans-serif;
    background: var(--background-light);
}

a {
    text-decoration: none;
}

header#home {
    width: 100%;
    height: 120vh;
    position: relative;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 15%;
    translate: -15% -80%;
    display: inline-block;
    text-transform: capitalize;
    font-family: "Merriweather", sans-serif;
    font-size: 4.5rem;
    background: linear-gradient(to top right, var(--primary-light), var(--accent-light));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#home nav {
    width: 50%;
    height: 5vh;
    padding: 0 2%;
    float: right;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 5%;
}

#home nav a {
    color: var(--text-light);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    position: relative;
}

#home nav a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    outline: 2px solid var(--text-light);
    outline-style: dotted;
    opacity: 0;
    transition: 0.5s, transform 500s ease;
}

#home nav a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 1px solid var(--text-light);
    opacity: 0;
    transition: 0.5s;
}

#home nav a:hover::before {
    opacity: 0.3;
    transform: rotate(36000deg);
}

#home nav a:hover::after {
    opacity: 0.4;
}



#about {
    width: 100%;
    /* height: ; */
    padding: 3em 1.5em;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--primary-light);
}

#about h2 {
    margin: .5em auto;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--background-light);
}

#about .profileImageHolder {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    outline: 1px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    scale: 1;
    overflow: hidden;
    transition: all 0.35s linear;
}

#about .profileImageHolder img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    transform: translateY(75px);
    clip-path: ellipse(45% 30% at 50% 30%);
    position: relative;
    z-index: 1;
    scale: 1;
}

#about .profileImageHolder:hover {
    outline-offset: 3.5px;
    outline-color: var(--accent-dark);
}

#about #pseudo_btn {
    display: inline-block;
    color: #fff;
    margin: .5em auto;
}

/* #pseudo_btn::after{
    

} */

.slide_two {
    display: flex;
}

.slide_two .profileImageHolder {
    margin-top: .5em;
}

.slide_two aside {
    width: 35%;
}

.slide_two main {
    width: 75%;
    padding: .5em;
    box-sizing: border-box;
    font-size: 1.25rem;
}

#contact {
    width: 85%;
    max-height: 1fr;
    border-radius: 30px;
    background-color: var(--accent-light);
    padding: 1.5em 3em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* justify-content: space-between; */
    box-sizing: border-box;
}

#contact h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 2em;
    font-family: "Merriweather", sans-serif;
    color: var(--text-dark);
}

#contact form {
    width: 100%;
    box-sizing: border-box;
}

#contact form .box {
    position: relative;
    display: block;
}

#contact form input {
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
    box-sizing: border-box;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid var(--background-light);
    opacity: 0.6;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.75px;
    color: var(--text-dark);
    text-transform: uppercase;
}

input[type="email"]#email {
    text-transform: lowercase;
}

textarea#message {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    opacity: 0.6;
    outline: none;
    background-color: transparent;
    color: var(--text-dark);
    text-transform: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid var(--background-light);
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    resize: none;
}

#contact form input::placeholder,
textarea#message::placeholder {
    font-family: "Raleway", sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 1.75px;
    color: var(--text-dark);
    opacity: 0.7;
    text-transform: uppercase;
}

textarea#message::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 0;
}

textarea#message::-webkit-scrollbar-track {
    background-color: #f0f1f0;
}

textarea#message::-webkit-scrollbar-thumb {
    background-color: #898c8c;
}

#contact form input:focus,
textarea#message:focus {
    opacity: 1;
}

#contact button {
    --neon-white: #fbffff;

    margin-top: 10px;
    padding: .5em 1.35em;
    float: right;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: var(--neon-white);
    /* box-shadow: 0px 1px 2px var(--neon-white),
        0px -1px 2px var(--neon-white),
        1px 0 2px var(--neon-white),
        -1px 0 2px var(--neon-white); */
    position: relative;
    isolation: isolate;
    transition: color 450ms;
}

#contact button:enabled::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--neon-white);
    border-radius: 5px;
    inset: 0;

    scale: 0 1;
    transform-origin: right;
    transition: scale 450ms;
}

#contact button:enabled:hover:after,
#contact button:enabled:hover:after {
    transform-origin: left;
    scale: 1 1;
}

#contact button:enabled:hover {
    color: var(--text-light);
}

#contact button:first-of-type {
    margin-left: 1.5em;
}

#contact button:disabled {
    opacity: 0.5;
}

.red-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 2px;
    right: 0;
}

footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}