:root {
    /* --my-black: #0d110f; */
    
    --my-black: #0b1418;
    --text: #f4f9fa;
    --primary: #0096c7;
    --accent : #9282c8;
    --secondary: #a3a6d7;

    /* --primary: #3d5151; */

    /* --primary: #525252; */
    /* --secondary: #7ac9c9; */
    /* --accent: #D3D9D9; */
    
    /* --accent: #c2c2c2; */
    /* --text: #fcfdfc; */
    --invalid-input : #ff4d6d;
    /* --accent-dark: #a8b3bd; */


}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya", sans-serif;
    background: var(--text);
    position: relative;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    object-fit: cover;
    object-position: center;
}

.nav-bar-opened {
    background-color: var(--my-black);
}

.colored-gradient {

}

header#home {
    width: 100%;
    height: 120vh;
    display: flow-root;
}

.fluid-heading {
    font-size: clamp(2.4rem, 5vw + .5rem, 4.5rem);
}

#home h1 {
    display: inline-block;
    margin-top: 130px;
    padding: 0 5%;
    text-transform: capitalize;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    background: linear-gradient(to top right, var(--primary), var(--my-black));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -1px;
}

#home h1 span {
    display: inline-block;
    margin-bottom: 7.5px;
}

nav#header_nav {
    width: 100%;
    height: 5.5vh;
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 50px 0 0 auto;
}

#home nav a {
    color: var(--my-black);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
    position: relative;
}

nav#header_nav a:nth-of-type(2) {
    margin-left: auto !important;
}

nav#header_nav a:not(:first-of-type) {
    margin: 0 2rem;
}

nav#header_nav a:not(:first-of-type):before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    outline: 2px solid var(--my-black);
    outline-style: dotted;
    opacity: 0;
    transition: 0.5s, transform 500s ease;
}

nav#header_nav a:not(:first-of-type):after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 1px solid var(--my-black);
    opacity: 0;
    transition: 0.5s;
}

nav#header_nav a:not(:first-of-type):hover::before {
    opacity: 0.3;
    transform: rotate(36000deg);
}

nav#header_nav a:hover::after {
    opacity: 0.4;
}

nav#header_nav> :not(a) {
    display: none;
    cursor: pointer;
}

nav a.logo-container {
    width: 100px;
}

a.logo-container img {
    inline-size: 100%;
    translate: -15px 5.5px;
}

#mobile-nav.active {
    transform: translateX(0);
}

#mobile-nav {
    width: 12em;
    height: 100dvh;
    background-color: #fbffff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 5%;
    text-align: right;
    transform: translateX(100%);
    transition: transform 200ms ease;
}

#mobile-nav a {
    display: block;
    line-height: 50px;
}

#mobile-nav :not(a) {
    transform: translateX(10px);
    margin: 30px 0;
    cursor: pointer;
}

#about {
    width: 100%;
    padding: 3em 1.5em;
    text-align: center;
    background-color: var(--primary);
    transition: all 0.35s linear;
}

#about div.active {
    display: flex !important;
}

#about #slide_one {
    display: none;
    flex-direction: column;
    align-items: center;
}

#about #slide_one h2 {
    margin: .5em auto;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text);
}

#about .profileImageHolder {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    outline: 1px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    scale: 1;
    overflow: hidden;
    transition: all 0.35s linear;
}

#about .profileImageHolder img {
    max-width: 100%;
    transform: translate(-9px, 25px) scale(1.1);
    position: relative;
    z-index: 1;
}

#about #slide_one .profileImageHolder:hover {
    outline-offset: 3.5px;
    outline-color: var(--accent-dark);
}

#about #slide_two {
    display: none;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
    align-items: center;
}

#about #slide_two aside .profileImageHolder {
    margin-top: .5em;
}

#about #slide_two aside {
    flex: 1 1 30%;
    color: var(--text);
}

#about #slide_two aside h2 {
    margin: 0.5em auto;
    font-size: 2rem;
}

#about #slide_two main {
    flex: 1 1 70%;
    padding: .5em;
    font-size: 1.25rem;
    color: var(--text);
}

.navigators {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    transform: translateY(100%);
}

.navigators div {
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 1px solid ;
    outline-color: transparent;
    margin: 0 auto;
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.5s ease;
    background-color: #7ac9c950;
}

.navigators div.active {
    outline-offset: 4.5px;
    outline-color: var(--secondary);
    opacity: 0.5;
}

#works {
    width: 100%;
    height: auto;
    /* background-color: var(--primary); */
    padding: 2em 1.5em;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, ); */
}

#works h2 {
    width: 100%;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--my-black);
    text-align: center;
}

#works .overview {
    width: 100%;
    height: auto;
    border-radius: calc(20px + 1.75em);
    backdrop-filter: blur(3px);
    padding: 1.75em;
    position: relative;
    overflow: hidden;
}

.overview:after {
    content: "";
    position: absolute;
    inset: -100px;
    background:
        radial-gradient(200px at left 400px top 150px, #74c69d 100%, #0000),
        radial-gradient(200px at right 400px bottom 150px, #ff4d6d 100%, #0000),
        radial-gradient(200px at bottom 400px left 150px, #9A97B4 100%, #0000),
        radial-gradient(200px at top 400px right 150px, #ff9100 100%, #0000);
    filter: blur(120px);
    opacity: .5;
    z-index: -1;
}

.overview:after {
    transition: .5s, 99999s 99999s transform;
}

.overview:hover:after {
    transform: rotate(36000deg);
    transition: .5s, 600s linear transform;
}

.overview .innerwrapper {
    width: 100%;
    height: auto;
    border: 2px solid rgb(252, 253, 252, 0.6);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: .75em;
    justify-content: center;
    /* align-items: center; commenting this line makes all images same height */
}

.innerwrapper img {
    /* height: 20em; */
    width: 10em;
    border-radius: calc(20px - 10px);
}


#contact {
    width: 85%;
    border-radius: 30px;
    background-color: var(--accent);
    padding: 1.5em 5vw;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    color: var(--my-black);
}

#contact h2 {
    margin: 0 50px 0 0;
    text-transform: uppercase;
    font-size: 2em;
}

#contact form {
    flex: 1 0 10rem;
    color: var(--my-black);
}

#contact form .box {
    position: relative;
    display: block;
}

#contact form input {
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid var(--my-black);
    opacity: 0.6;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

input[type="email"]#email {
    text-transform: lowercase;
}

textarea#message {
    width: 100%;
    height: 30%;
    opacity: 0.6;
    outline: none;
    background-color: transparent;
    text-transform: none;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid var(--my-black);
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    resize: none;
}

#contact form input::placeholder,
textarea#message::placeholder {
    font-family: "Raleway", sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1.75px;
    color: var(--my-black);
    opacity: 0.7;
    text-transform: uppercase;
}

textarea#message::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 0;
}

textarea#message::-webkit-scrollbar-track {
    background-color: #f0f1f0;
}

textarea#message::-webkit-scrollbar-thumb {
    background-color: #898c8c;
}

#contact form input:focus,
textarea#message:focus {
    opacity: 1;
}

#contact button {
    --neon-white: #fbffff;

    margin-top: 10px;
    padding: .5em 1.35em;
    float: right;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: var(--primary);
    position: relative;
    isolation: isolate;
    transition: color 450ms;
}

#contact button:enabled::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--primary);
    border-radius: 5px;
    inset: 0;

    scale: 0 1;
    transform-origin: right;
    transition: scale 450ms;
}

#contact button:enabled:hover:after,
#contact button:enabled:hover:after {
    transform-origin: left;
    scale: 1 1;
}

#contact button:enabled:hover {
    color: var(--neon-white);
}

#contact button:first-of-type {
    margin-left: 1.5em;
}

#contact button:disabled {
    opacity: 0.5;
}

.red-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.caution {
    opacity: 0;
}

.tooltip {
    width: 100px;
    content: "";
    position: absolute;
    border: 1px solid var(--my-black);
    color: var(--text);
    /* left: 0; */
    /* transform: translateY(-50%); */
    opacity: 0;
    transition: opacity 450ms ease;
}

.caution:hover~.tooltip {
    opacity: 1;
}

#email_exclaim {
    animation: shake 700ms linear;
    animation-play-state: paused;
}

@keyframes shake {
    5% {
        transform: rotate(20deg);
    }

    25% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    95% {
        transform: rotate(-20deg);
    }
}

footer {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}