@media screen and (max-width : 900px) {
    header#home {
        height: 97vh;
    }
    nav#header_nav a:not(:first-of-type){
        display: none;
    }
    nav#header_nav :not(a){
        display: inline-block;
        margin-left: auto;
    }
}

@media screen and (max-width : 425px) {
    
 
}